* {
  padding: 0;
  margin: 0;
}

header{
  border: 0.5px solid #8f5759;
  background-color: #ea8c86;
  width: 75%;
  margin: 3px auto;
  padding: 15px;
}

html {
  min-height: 100%;
  min-width: 100%;
  top: 0;
  margin: 0;
  overflow-x: hidden;
}

body {
  background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
  top: 0;
  margin: 0;
  min-height: 100%;
  min-width: 100%;
}

button{
	background:#eedbdc;
	border-radius:12px;
	border: 0px solid;
	cursor:pointer;
	padding:6px 24px;
  color: #443232;
}

#button-clear {
  background-color: #ea8c86;
  border: 1px solid red;
}

 button:hover{
   border: 1px solid #c15759;
   background:#ffb5b7;
   font-weight: bold;
 }

h1{
  text-align: center;
  margin: 20px auto;
}

.main-div {
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 25px;
  border: 1px solid #8f5759;
  padding: 15px;
  background-color: #fdcac7;
  width: 75%;
  margin:  auto;
}

.input-sptwo {
  grid-column: span 2;
  height: 30px;
}

.output{
  grid-column: span 3;
  height: 20px;
  padding: 10px;
  justify-content: center;
  border: 1px solid black;
  text-align: center;
  margin-bottom: 20px;
  background-color: #ededed;
}

.main-label, .output-label{
  color: #443232;
  height: 25px;
  align-content: center;
  text-align: center;
  padding: 5px;
  border:1px solid #8f5759;
  background-color: #eecccd;
  margin-right: 0px;
}

.output-label{
  grid-column: span 3;
  border-radius: 0px;
  margin-bottom: -20px;
}
